@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Rubik+Mono+One&display=swap');

.heading{
    text-shadow:  0.2rem 0px 0px black;
    scale: 4;
    position:relative;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    z-index: 1;
    margin-top: 7rem;
    transition: all 0.15s ease-in-out;

}
.heading:hover{
    scale: 4.4;
    transition: all 0.15s ease-in-out;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper> div {
    border:1px solid #000;/* only for showing here */
    min-height:20px;/* only for showing here */
  }
  @media all and (min-width: 401px) {
  
      .wrapper> div {
          width: 33%;
      }
  }
  
  @media all and (max-width: 400px) {
      .wrapper> div {
          width: 100%;    
      }
      .cell1 {
          order: 0;
      }
      .cell2 {
          order: 1;
      }
      .cell3 {
          order: 4;
      }
      .cell4 {
          order: 2;
      }
      .cell5 {
          order: 3;
      }
      .cell6 {
          order: 5;
      }   
  }